[source]
host=http://localhost
port=8069
user=admin
pwd=admin
db=acme

[destination]
host=http://production.local
port=8069
user=admin
pwd=s3cr3t
db=openerp

[models]
partner_fields=id,name,active,customer,supplier,vat,ref,website,mobile,phone,user_id
contact_fields=id,function,fax,street2,street,phone,active,city,name,mobile,lang,email

